@import "bootstrap";
@import "library/jquery.smartmenus.bootstrap";
@import "library/lightslider";
// main.scss
body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    counter-reset: count_viewest;
}

a {
    color: black;
    &:hover,
    &:focus {
        text-decoration: none;
        background: none;
    }
}

.row,
aside,
section {
    margin-bottom: 7px;
}

$url_icon:"../img/icon.png";
@mixin box($border, $border-radius, $padding) {
    border: $border;
    border-radius: $border-radius;
    padding: $padding;
}

@mixin border($top, $right, $bottom, $left) {
    border-top: $top;
    border-right: $right;
    border-bottom: $bottom;
    border-left: $left;
}

@mixin border-radius($top-left, $top-right, $bottom-left, $bottom-right) {
    border-top-left-radius: $top-left;
    border-top-right-radius: $top-right;
    border-bottom-left-radius: $bottom-left;
    border-bottom-right-radius: $bottom-right;
}

@mixin background-before( $width, $url, $repeat, $coordinates) {
    padding-left: $width;
    @include background($url, $repeat, $coordinates);
}

@mixin background($url, $repeat, $coordinates) {
    background: url($url) $repeat $coordinates;
}

@mixin multiple-background($url, $before, $after, $between, $between_repeat) {
    background: url($url) $before no-repeat, url($url) 100% $after no-repeat, url($url) $between $between_repeat;
}

@mixin gradient($linear, $linear-to, $from, $between, $between-percent, $to) {
    background: $from;
    background: -moz-linear-gradient($linear, $from 0%, $between $between-percent, $to 100%);
    background: -webkit-gradient($linear top, right top, color-stop(0%, $from), color-stop($between-percent, $between), color-stop(100%, $to));
    background: -webkit-linear-gradient($linear, $from 0%, $between $between-percent, $to 100%);
    background: -o-linear-gradient($linear, $from 0%, $between $between-percent, $to 100%);
    background: -ms-linear-gradient($linear, $from 0%, $between $between-percent, $to 100%);
    background: linear-gradient($linear-to, $from 0%, $between $between-percent, $to 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin boxshadow($left, $top, $thickness, $width, $color) {
    -moz-box-shadow: $left $top $thickness $width $color;
    -webkit-box-shadow: $left $top $thickness $width $color;
    box-shadow: $left $top $thickness $width $color;
}

@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-left: $left;
    padding-right: $right;
    padding-bottom: $bottom;
}

@mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-left: $left;
    margin-right: $right;
    margin-bottom: $bottom;
}

@mixin placeholder($color) {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $color;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $color;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $color;
    }
}

%box {
    padding: 0px;
    margin: 0px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    @include boxshadow(0px, 2px, 4px, 0px, rgba(0, 0, 0, .5));
    @include gradient(top, to bottom, #fff, #f2f6f6, 80%, #cfe8e0);
}

@mixin heading-home($item-1, $item-2, $item-3, $item-4, $item-5, $item-6) {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    background: #0477a1;
    h2 {
        width: $item-1;
        font-size: 14px;
        margin: 0px;
        display: block;
        float: left;
        padding-right: 15px;
        background: url(../img/bg-icon.png) 100% -405px no-repeat, #168942;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
    }
    ul {
        display: contents;
        list-style-type: none;
        padding: 0px;
        li {
            margin: 0px;
            float: left;
            @include border(1px solid #fff, 1px solid #43aacf, 0px, 1px solid #0c5873);
            display: block;
            a {
                display: block;
                font-size: 13px;
                line-height: 30px;
                font-weight: bold;
                text-align: center;
                color: #fff;
                text-transform: uppercase;
            }
            &:nth-child(1),
            &:nth-child(2) {
                border-top: none;
            }
            &:nth-child(1),
            &:nth-child(3) {
                border-left: none;
            }
            &:nth-child(2),
            &:nth-child(5) {
                border-right: none;
            }
            &:nth-child(1) {
                width: $item-2;
            }
            &:nth-child(2) {
                width: $item-3;
            }
            &:nth-child(3) {
                width: $item-4;
            }
            &:nth-child(4) {
                width: $item-5;
            }
            &:nth-child(5) {
                width: $item-6;
            }
        }
    }
}

%title-box {
    margin: 0px;
    padding: 0px 7px;
    h2 {
        margin: 0px;
        background: #78b43d;
        border-radius: 2px;
        margin-top: -1px;
        font-size: 14px;
        text-align: center;
        line-height: 26px;
        font-weight: bold;
        text-transform: uppercase;
        a {
            color: #fff;
        }
    }
}

.error-input {
    @include placeholder(#d87989);
    border-color: red !important;
    color: red;
    @include boxshadow(0px, 2px, 4px, 0px, rgba(236, 53, 57, .5));
    &:focus {
        @include boxshadow(0px, 2px, 4px, 0px, rgba(236, 53, 57, .5));
    }
}

.slide-post-hot {
    padding: 7px;
    border: 1px solid #d6d6d6;
    .lSAction {
        &>a {
            height: 53px;
            margin-top: -26px;
            width: 27px;
        }
        .lSPrev {
            @include background($url_icon, no-repeat, 0px -131px);
            left: 0px;
            opacity: 0.8;
        }
        .lSNext {
            @include background($url_icon, no-repeat, 0px -72px);
            right: 0px;
            opacity: 0.8;
        }
    }
    ul {
        &.lSPager {
            display: none;
        }
        li {
            a {
                &:first-child {
                    display: block;
                    float: left;
                    img {
                        width: 62px;
                        height: 62px
                    }
                }
                &:last-child {
                    font-size: 14px;
                }
            }
        }
    }
}

.breamcrums {
    &>div {
        &:last-child {
            display: block;
            float: right;
        }
        &:first-child {
            display: block;
            float: left;
        }
    }
    @include border( 1px solid #d6d6d6, 1px solid #d6d6d6, 1px solid #d6d6d6, 0px);
    a,
    .breadcrumb_last {
        font-size: 14px;
        line-height: 30px;
        display: block;
        float: left;
    }
    .icon-next {
        display: block;
        float: left;
        height: 30px;
        padding: 5px 4px;
    }
    .breadcrumb_last {
        font-weight: bold;
        color: #21771f;
    }
    &::before {
        content: "";
        display: block;
        float: left;
        width: 15px;
        height: 30px;
        @include background($url_icon, no-repeat, 0px -187px)
    }
    .time {
        display: block;
        line-height: 30px;
        float: right;
        padding: 0px 10px;
    }
    .rss {
        display: block;
        float: right;
        width: 67px;
        height: 30px;
        border-left: 1px solid #d6d6d6;
        text-transform: uppercase;
        font-weight: bold;
        color: #666666;
        padding-left: 8px;
        @include background($url_icon, no-repeat, 41px -217.5px);
    }
}

@import "advertising/advertising";
@import "header/header";
@import "menu/menu-top";
@import "left/left";
@import "content/content";
@import "right/right";
// @import "footer/footer";
@import "responsive/responsive";