@media (min-width: 0px) {
    .menu-top {
        .container-fluid {}
        ul.nav {
            .dropdown-menu {
                width: auto !important;
                max-width: auto !important;
                height: auto !important;
                border-top: 0px !important;
            }
        }
    }
}