@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
    .menu-top {
        ul.nav {
            .dropdown-menu {
                width: 998px !important;
            }
        }
        ul.navbar-right {
            display: block;
        }
    }
}