    .menu-top {
        background: #78b43d;
        border-radius: 4px;
        &>ul {
            display: inline;
            list-style-type: none;
            padding: 0px;
            display: contents;
            position: relative;
            .dropdown {
                @include border(0px, 1px solid #d6d6d6, 1px solid #d6d6d6, 1px solid #d6d6d6);
                display: block;
                top: auto;
                position: absolute;
                width: 100%;
                list-style-type: none;
                max-width: 1010px;
                top: 33px;
                padding: 0px;
                li {
                    display: block;
                    float: left;
                    padding: 9px 0px;
                    a {
                        padding: 0px 12px;
                        line-height: 14px !important;
                        color: #333333;
                        @include border(0px, 1px solid #cdced0, 0px, 0px);
                    }
                }
            }
            li {
                position: relative;
                a {
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 32px;
                    display: block;
                    padding: 0px 7px;
                    float: left;
                    @include border(0px, 1px solid #5ca038, 0px, 1px solid #a7d074);
                    &.home {
                        width: 34px;
                        padding: 0px;
                        text-indent: -9999px;
                        border: none;
                        @include background($url_icon, no-repeat, 0px 0px);
                        &:hover {
                            @include background($url_icon, no-repeat, 0px 0px);
                        }
                    }
                    &:hover {
                        background: none;
                    }
                }
                &:first-child {
                    a {
                        border-left: 0px;
                    }
                }
                &:last-child {
                    a {
                        border-right: 0px;
                    }
                }
            }
            &:last-child {
                margin: 0px;
                float: right;
                display: block;
                li {
                    a {
                        text-indent: -9999px;
                        border: none;
                        background: url(../img/icon.png) no-repeat -42px 0;
                        width: 36px;
                        padding: 0px;
                    }
                }
            }
        }
    }