.bmi {
    padding: 0px;
    margin: 0px;
    background: #fff;
    border: 1px solid #78b43d;
    .panel-heading {
        padding: 0px;
        background: #d5ecab;
        font-size: 14px;
        line-height: 24px;
        color: #005826;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .panel-body {
        padding: 0px;
        .form-group {
            @include margin(7px, 7px, 0px, 7px);
        }
        .form-control {
            height: 28px;
        }
        button {
            margin: 7px;
            width: calc(100% - 14px);
            background: #78b43d;
            border: 0px;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            height: 28px;
            @include boxshadow(0px, 2px, 4px, 0px, rgba(0, 0, 0, .5));
        }
    }
}