.success {
    @extend %box;
    .panel-heading {
        @extend %title-box;
        h2 {
            text-align: left;
            padding-left: 8px;
        }
        ul {
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            li {
                background: #d5ecab;
                border: 1px solid #a6d074;
                border-radius: 4px;
                margin-top: 1px;
                a {
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 28px;
                    display: block;
                    padding-left: 8px;
                }
            }
        }
    }
    .panel-body {
        @include padding(0px, 0px, 0px, 0px);
        .item {
            display: inline-table;
            @include padding(7px, 7px, 7px, 7px);
            width: 100%;
            border-top: 1px solid #d0d4d3;
            &:first-child {
                border-top: 0px;
                a {
                    margin-top: 5px;
                    &:first-child {
                        margin-top: 0px;
                        display: block;
                        width: 234px;
                        height: 157px;
                        img {
                            width: 100%;
                            max-height: 157px;
                        }
                    }
                    &:nth-child(2) {
                        display: block;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 18px;
                    }
                }
                span {
                    margin-top: 5px;
                    display: block;
                    font-size: 14px;
                    line-height: 16.5px;
                    text-align: justify;
                }
            }
            &:nth-child(n+2) {
                &>a {
                    &:first-child {
                        width: 79px;
                        height: 52px;
                        display: block;
                        float: left;
                    }
                    &:last-child {
                        display: block;
                        float: right;
                        width: calc(100% - 85px);
                        font-size: 14px;
                        line-height: 17px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}