.viewest {
    @extend %box;
    .panel-heading {
        @extend %title-box;
    }
    .panel-body {
        @include padding(0px, 0px, 0px, 0px);
        ul {
            padding: 0px;
            list-style-type: none;
            li {
                display: block;
                width: 100%;
                float: left;
                border-top: 1px solid #d0d4d3;
                @include padding(5px, 7px, 5px, 7px);
                a {
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 17px;
                    display: block;
                }
                &::before {
                    counter-increment: count_viewest;
                    content: counter(count_viewest);
                    background: #78b43d;
                    color: #fff;
                    border-radius: 20px;
                    height: 24px;
                    width: 24px;
                    display: block;
                    float: left;
                    padding-left: 0;
                    text-align: center;
                    line-height: 24px;
                    margin-top: 7px;
                    margin-right: 5px;
                    font-weight: bold;
                }
                &:first-child {
                    border-top: none;
                    a {
                        display: block;
                        float: left;
                        &:nth-child(1) {
                            width: 234px;
                            height: 157px;
                            margin-bottom: 5px;
                            img {
                                width: 100%;
                                max-height: 157px;
                            }
                        }
                        &:nth-child(2) {
                            width: 100%;
                            font-size: 16px;
                        }
                    }
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}