.healing {
    background: #fff;
    padding-bottom: 3px;
    border-radius: 4px;
    border: 0px;
    &>h2 {
        @extend %title-box;
        margin-bottom: 6px;
    }
    .item {
        margin: 4px;
        border: 1px solid #81bbd0;
        background: #c3ebfa;
        .panel-heading {
            @extend %title-box-sub;
        }
        .panel-body {
            padding: 0px;
            ul {
                list-style-type: none;
                padding: 0px;
                background: #fff;
                margin: 0px;
                &>li {
                    border-bottom: 1px solid #c3ebfa;
                    @include background($url_icon, no-repeat, 0px -270px);
                    padding: 0px 4px 0px 12px;
                    &:last-child {
                        border-bottom: none;
                    }
                    &>a {
                        padding: 5px 0px 5px 3px;
                        font-size: 14px;
                        line-height: 17px;
                        display: inline-block;
                        text-align: justify;
                        background: #fff;
                    }
                }
            }
        }
        a {
            color: #000;
            text-decoration: none;
            &:hover {
                color: #000;
                text-decoration: none;
            }
        }
    }
}